* {
    margin: 0;
    padding: 0;
    border: none;
}
:root {
    --primary-color: #927ed4;
    --second-color: #f7bf1e;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box; 
}

/* Links superiores que serão clicados, (Instructors e Members) */
.links {
    font-size: 22px;
}
.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color:  #777;
    position: relative;
}
.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}
.links a:hover {
    color: var(--primary-color);

}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
.links a:hover::after {
    width: 100%;
    transition: width 350ms cubic-bezier(0.3, 0.06, 0.72, 0.93); /* responsável pelo tracinho em baixo demorar p aparecer, na largura, tempo que vai demorar e qual a "curva" que vai percorrer */
}

/* Cartão - Divisão, conteúdo e animações */
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 15px;
    box-shadow: 10px 10px 4px -2px rgba(0, 0, 0, 0.589);

    animation-name: up;
    animation-duration: 3300ms;
    animation-timing-function: ease-out;

}
/* o keyframes serve para as animações, nesse caso tenho uma animação com o nome: up */
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(25px)
    }
    to {
        opacity: 1;
        
    }
}

.card .avatar {
    border-radius: 15px 0 0 15px;
}

.details {
    padding: 30px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child { /* vai pegar o último filho, nesse caso a última div que contem o desde */
    border: none;
}

.details h3,
.details .item div:nth-child(1) { /* dentro do item, vai pegar a div filha número um, nesse caso é nome, idade, sexo..*/
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 1px;
    font-weight: normal;
    
}

.details .item div:nth-child(2) { /* dentro do item, vai pegar a div filha número dois, nesse caso é guilherme silva, 29, masculino..*/
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color)
}

.details .item div:nth-child(2) span { /* vai pegar o span que está dentro da div da filha de numero dois - nesse caso só temos um elemento assim, que fica mais facil pra estilizar */
    padding: 8px 16px;
    background-color: var(--second-color);
    border-radius: 18px;
    color: #777;
    font-size: 13px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}


/*Formulário*/
input {
    width: 100%;
    outline: none; 
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--second-color);
    border-radius: 10px;
    margin-top: 16px;
    width: 100%;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}